@model SimuladorConduccion.Web.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesion</title>

    <link rel="stylesheet" href="~/Styles/LoginStyle.css" />

</head>
<body>
    <div class="login-box">
        <h2>Login</h2>

    </div>
</body>
</html>
