
@{
    ViewBag.Title = "GameOver";
}

<h1 style="color:red;">💀 GAME OVER</h1>

<h3>Perdiste la carrera</h3>

<a href="/Home/Index">
    <button>🔄 Volver a jugar</button>
</a>

<a href="/Home/Ranking">
    <button>🏆 Ver Ranking</button>
</a>